@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,400;1,500&family=Inter+Tight:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
--main-icon-color: rgba(167, 167, 167, 0.5);
  --post-info-color: hsla(0, 0%, 20%, 1);
  --post-stats-color: hsla(0, 0%, 10%, 1);
  --vote-color: hsla(0, 0%, 22%, .7);
  --arrow-color: hsla(0, 0%, 70%, 1);
  --font-arimo: 'Arimo', sans-serif;
  --font-inter-tight: 'Inter Tight', sans-serif;
}

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  background-color: var(--vote-color);
}

body > * {
  color: black;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--post-stats-color);
  border-radius: 5px;
  margin-bottom: 0px;
}

#reddit{
  /* border: 3px solid green; */
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#cont-p {
  display: flex;
  margin-left: 7px;
}

#cont-p p {
  font-size: 20px;
  font-family: comic sans ms;
  color: whitesmoke;
}

#reddit:hover {
  cursor: pointer;
}

#reddit-icon {
  font-size: 30px;
  fill: whitesmoke;
  background-color: rgb(255, 106, 0);
  border-radius: 35px;
}

#reddit p {
  margin: 0 0;
}

#home {
  display: flex;
  /* background-color: grey; */
  width: 10rem;
  justify-content: space-between;
  margin-right: 10px;
}

#home:hover {
  /* border: 2px solid gray; */
  background-color: lightgray;
  border-radius: 10px;
}

#home div {
  display: flex;
  align-items: flex-end;
}

#house {
  /* border: 2px solid yellow; */
  width: 60%;
  justify-content: space-evenly;
}

#home-icon {
  color: whitesmoke;
}

#house h4 {
  margin: 0 0;
  color: rebeccapurple;
  font-family: var(--font-inter-tight);
  color: whitesmoke;
}

#expand-icon {
  color: whitesmoke;
}

#popular {
  color: whitesmoke;
}

#popular:hover{
  cursor: pointer;
  background-color: var(--main-icon-color);
  border-radius: 5px;
}

#live {
  color: whitesmoke;
}

#live:hover {
  cursor: pointer;
  background-color: var(--main-icon-color);
  border-radius: 5px;
}

#chat {
  color: whitesmoke;
}

#chat:hover {
  cursor: pointer;
  background-color: var(--main-icon-color);
  border-radius: 5px;
}

#notifications {
  color: whitesmoke;
}

#notifications:hover {
  cursor: pointer;
  background-color: var(--main-icon-color);
  border-radius: 5px;
}

#add {
  color: whitesmoke;
}

#add:hover {
  cursor: pointer;
  background-color: var(--main-icon-color);
  border-radius: 5px;
}

#avatar {
  height: 50px;
  width: 50px;
}

#posts {
  display: flex;
  justify-content: center;
  /* border: 4px solid yellow; */

}

#post {
  border: 1px solid gainsboro;
  width: 732px;
  max-height: 800px;
  margin: 10px 0px;
  display: inline-block;
  border-radius: 10px;
}

#post:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px black;
}

#post:active {
  box-shadow: 0px 0px 50px black;
}

#ind-post {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid green; */
  max-height: 800px;
  border-radius: 10px;
}

#post-stats {
  background-color: var(--post-stats-color);
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border-radius: 10px 0 0 10px;
}

#post-stats > * {
  margin: 3px 0px;
}

#upArrow {
  color: var(--arrow-color);
}

#upArrow:hover {
  cursor: pointer;
  color: hsl(16, 100%, 62%, .99);
  background-color: var(--vote-color);
  border-radius: 4px;
}

#votes {
  color: white;
  font-size: 13px;
}

#downArrow {
  color: var(--arrow-color);
}

#downArrow:hover {
  cursor: pointer;
  color: cornflowerblue;
  background-color: var(--vote-color);
  border-radius: 4px;
}

#main-post {
  background-color: var(--post-info-color);
  padding: 0px 5px;
  width: 92%;
  border-radius: 0 10px 10px 0;
}

#post-info {
  /* border: 3px solid green; */
  display: flex;
  justify-content: flex-start;
  margin-left: 8px;
  font-size: 15px;
  margin-top: 10px;
}

#subreddit {
  font-weight: bold;
  color: whitesmoke;
  margin-right: 8px;
  font-size: 12px;
}

#author {
  font-weight: lighter;
  color: darkgray;
  display: block;
  font-size: 12px;
}

#title {
  font-size: 17px;
  font-weight: bolder;
  color: whitesmoke;
  margin: 10px 0 30px 0;
}

#expanded-stats {
  display: flex;
  margin: 20px 0 10px 0;
  justify-content: space-evenly;
  width: 50%;
  /* border-top: 1px dotted deepskyblue; */
}

#expanded-stats > * {
  display: flex;
  /* border: 3px solid violet; */
  width: 25%;
  justify-content: space-evenly;
  color: var(--arrow-color);
}

#expanded-stats > * p {
  color: whitesmoke;
  color: var(--arrow-color);

}

#img {
  max-height: 90%;
  max-width: 70%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#vid {
  max-height: 85%;
  max-width: 70%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: black;
}

.list {
  list-style: none;
}

#outer-author {
  margin: 0 0;
}

#outer-body {
  margin: 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#rep-group {
  display: flex;
}


#arr-group {
  margin: 0px 0px;
  padding: 0 0;
  /* border: 3px solid purple; */
}

#rep-arrow {
  display: inline;
  margin: 0px 0px;
  padding: 0px 0px;
  color: forestgreen;
}

#actual-reply {
  margin: 5px 0px;
}

#actual-reply li {
  color: whitesmoke;
  font-family: var(--font-inter-tight);
  font-weight: 300;
}

#inner-author {
  margin-top: 10px;
  color: whitesmoke;
  font-family: var(--font-inter-tight);
}

#inner-stats p {
  color: whitesmoke;
}

#inner-thumbUp {
  color: forestgreen;
}

#inner-thumbDown {
  color: crimson;
}

#replyless-com {
  margin: 0 0;
}

#replyless-com h4{
  margin: 0 0;
}

#replyless-com p {
  margin: 0 0;
  /* color: navajowhite; */
  margin-top: 5px;
}

#thumbnail {
  display: inline;
}

#ind-img {
  max-height: 90%;
  max-width: 70%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#ind-vid {
  max-height: 90%;
  max-width: 80%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#act-post {
  background-color: var(--post-stats-color);
  width: 90%;
  margin-left: 50px;
  margin-top: 20px;
  border-bottom: 1px dotted wheat;
  padding-bottom: 10px;
  padding-top: 30px;
  border-radius: 20px;
}

#ind-up {
  color: var(--arrow-color);
}

#ind-votes {
  color: whitesmoke;
  font-family: var(--font-inter-tight);
}

#ind-down {
  color: var(--arrow-color);
}

#ind-info {
  display: flex;
}

#ind-subreddit {
  font-family: var(--font-inter-tight);
  color: whitesmoke;
  font-size: 15px;
}

#ind-author {
  margin-left: 20px;
  color: darkgray;
  font-family: var(--font-inter-tight);
  font-size: 13px;
}

#ind-title {
  color: whitesmoke;
  font-family: var(--font-inter-tight);
  font-size: 25px;
  font-weight: 400;
}

#close {
  margin-left: 90%;
  color: whitesmoke;
  background-color: orangered;
  text-align: center;
}

#close:hover {
  cursor: pointer;
}

#close:active {
  background-color: rgb(255, 0, 0);
}

#list-wrapper {
  /* background-color: cornflowerblue; */
  background-color: var(--post-stats-color);
  width: 90%;
  margin-left: 50px;
  padding-top: 30px;
}

#list-wrapper li {
  margin-left: 30px;
}

#outer-author {
  color: whitesmoke;
  font-family: var(--font-inter-tight);
}

#outer-body {
  color: whitesmoke;
  font-family: var(--font-inter-tight);
  font-weight: 300;
}

#outer-stats > * {
  color: whitesmoke;
}

#outer-thumbsUp {
  color: springgreen;
}

#outer-thumbsDown {
  color: red
}
